[submodule "libs/pugixml"]
	path = libs/pugixml
	url = https://github.com/zeux/pugixml
[submodule "libs/enet"]
	path = libs/enet
	url = https://github.com/lsalzman/enet.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/flatbuffers"]
	path = libs/flatbuffers
	url = https://github.com/google/flatbuffers.git
